[core]
	excludesfile = ~/.gitignore.global
	hooksPath = ~/.githooks

[user]
	name = Nathan Houle
	email = nathan@nathanhoule.com

[color]
	ui = true

[hub]
	protocol = ssh

[mergetool]
	prompt = false

[diff]
	tool = ediff

[difftool]
	prompt = false

[branch]
	autosetuprebase = always

[commit]
	gpgSign = true
	template = ~/.gitmessage

[tag]
	gpgSign = true

[alias]
	amend = "!git-amend"
	checkout-pr = "!git-checkout-pr"
	get-commit-message = "!git log --format=%B -n 1"
	up = "!git-update"

[push]
	default = current
	followTags = true

[url "git@github.com:"]
	insteadOf = https://github.com/

[include]
	path = ~/.gitconfig.private
