# Project-specific files #
##########################
# Let Vundle manage bundles
vim/bundle
vim/.netrwhist

# emacs.d-specific ignores
emacs.d/url/cache
emacs.d/.emacs.desktop
emacs.d/auto-save-list
emacs.d/.session
emacs.d/custom.el
emacs.d/tramp
emacs.d/anything-c-adaptive-history
emacs.d/elpa
emacs.d/site-lisp/package/
emacs.d/swank
emacs.d/.mc-lists.el
emacs.d/var

# Temporary files #
###################
*~
\#*
*.lock
*.out
*.swp

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.pyc
*.pyo
*.so
*.elc

# OS-specific files #
#####################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Icon?
Thumbs.db
