[user]
	name = Nathan Houle
	email = ndhoule@gmail.com
[core]
	editor = vim
	pager = vimpager
	excludesfile = /Users/nathanhoule/.gitignore.global
[merge]
	tool = vimdiff
[alias]
    gu = !"git fetch origin -v ; git fetch upstream -v ; git merge upstream/master"
	logp = log --oneline --decorate
[credential]
	helper = osxkeychain
