[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = git://github.com/Lokaltog/powerline-fonts.git
[submodule "emacs/emacs.d.symlink"]
	path = emacs/emacs.d.symlink
	url = git://github.com/ndhoule/emacs.d.git
[submodule "vim/vim.symlink"]
	path = vim/vim.symlink
	url = git://github.com/ndhoule/vimrc.git
[submodule "zsh/zprezto.symlink"]
	path = zsh/zprezto.symlink
	url = git://github.com/ndhoule/prezto.git
