ssh/.ssh/segment_config
tmux/.tmux/plugins

#
# Temporary files
#

*~
\#*
*.lock
*.out
*.swp

#
# Compiled source
#

*.com
*.class
*.dll
*.exe
*.o
*.pyc
*.pyo
*.so
*.elc

#
# OS-specific files
#

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Icon?
Thumbs.db
